.Caja {
    height: 200px; 
     width: 250px; 
    background-color: chocolate;
    border: 2px;
    border-style: solid;
    padding: 2px;
}

section {
    display: flex;
    /* flex-direction: row; */
    min-height: 100vh;
    /* align-items: baseline; */
    /* align-items: center; */
    flex-wrap: wrap;
    align-content: space-around;
}

section {
    flex-grow: 1;
}