header {
    background-color: #551E19;
}

body {
    margin: 0;
}

* {
    color: #E6B17E;
}

nav {
    float: right;
}

nav li {
    display: inline-block; margin-left: 8px; margin-right: 8px; margin-top: 25px;
}
* {font-family: 'Dancing Script', cursive;}
nav li {font-size: 18pt;}