header {
    text-decoration: none;
    background-color: #551E19;
    display: inline-flex;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}
header a {color:#e6b17e}



h2 {
    text-align: center;
}

body {
    margin: 0;
    margin-top: 80px;
    background-color: #E6B17E;
    margin: 0;
}
.btn {color: #551e19;}

* {
    /* color: #E6B17E; */
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

header ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 18pt;
    width: 900px;
    margin-top: 55px;
}

/* footer */

footer div {
    width: 400px;
}

footer {
    width: 100%;
    background-color: brown;
    color: #E6B17E;
    font-size: 16pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: baseline;
}

.ubicacion2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ubicacion2 p {
    margin-right: 25px;
}

.pago {
    align-content: center;
}

.pago ul {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    list-style: none;

}

.pago ul li {
    margin-left: 10px;
    margin-right: 10px;
}
#pago1 {font-size: 40pt;}
#pago2  {font-size: 40pt;}
#pago3 {font-size: 40pt;}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48; font-size: 18pt;
}
.copy {display: flex;
flex-direction: row;}
.chat {display: flex;
flex-direction: row;}
.redes ul {display: flex;
flex-direction: row;
list-style: none;}
.redes ul li {margin-left: 10px; margin-right: 10px;}

/* pagina de reservas */

.datos_personales {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 25px;
}

.formulario {
    margin-left: 10px;
    margin-right: 25px;
}

h2 {
    text-align: center;
}

.datos_reserva {
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
justify-items: center; 
gap: 25px;}

.pago {display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-items: center;}

.mensaje {display: grid;
justify-items: center;}

/* pagina de las habitaciones posicionamiento y algo de estilo*/

