footer{background-color: coral;}
footer{font-family: cursive;}
img{display: block;}
body {background-color: cadetblue;

}
nav {background-color: burlywood; font-family: cursive; font-size: x-large; color: black;}